<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All cupcakes</h1>
    <ul id="cupcake-list">

    </ul>
    <form action="" method="post">
        <label for="flavor">Flavor</label>
        <input type="text" id="flavor" name="flavor" /> <br>

        <label for="size">Size</label>
        <input type="text" id="size" name="size" /> <br>

        <label for="rating"></label>
        <input type="number" id="rating" name="rating" /> <br>

        <label for="image">image</label>
        <input type="text" id="image" name="image" /> <br>

        <button type="submit">Submit</button>
    </form>
</body>
<script src="/static/js/script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>